<!DOCTYPE html>

<head xmlns:th="http://localhost:8282" xmlns:th="http://localhost:8282" xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Patient</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
 
<body>
    <div class="container my-5">
        <h3> Add Patient</h3>
        <div class="card">
            <div class="card-body">
                <div class="col-md-10">
                    <form action="#" action="@{/createPatient}" object="${patient}"
                                                                       method="post">
                        <div class="row">
                            <div class="form-group col-md-8">
                                <label  class="col-form-label">First Name</label>
                                <input type="text" field="*{FName}" class="form-control"
                                            id="FName" placeholder="FName" />
                            </div>
                            <div class="form-group col-md-8">
                                <label  class="col-form-label">Last Name</label>
                                <input type="text" field="*{LName}" class="form-control"
                                            id="LName" placeholder="LName" />
                        
                            <div class="col-md-6">
                                <input type="submit" class="btn btn-primary" value=" Submit ">
                            </div>
 
                            <input type="hidden" id="id" field="*{id}">
     
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
 
</html>